<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard4</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

     
</head>
<body>

        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=3286668&to=3286862&theme=light&panelId=56" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=3286668&to=3286862&theme=light&panelId=54" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=3286668&to=3286862&theme=light&panelId=55" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=3286668&to=3286862&theme=light&panelId=53" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=3286668&to=3286862&theme=light&panelId=52" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=3286668&to=3286862&theme=light&panelId=47" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=3286668&to=3286862&theme=light&panelId=48" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=3286668&to=3286862&theme=light&panelId=10" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=3286668&to=3286862&theme=light&panelId=49" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=3286668&to=3286862&theme=light&panelId=43" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=3286668&to=3286862&theme=light&panelId=50" width="450" height="200" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk3/dashboard3?orgId=1&from=now-14d&to=now&refresh=auto&theme=light&panelId=18" width="450" height="200" frameborder="0"></iframe>



                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100552532&to=1697705352532&theme=light&panelId=56" width="24.5%" height="85" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100574308&to=1697705374308&theme=light&panelId=54" width="18.5%" height="85" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100612372&to=1697705412372&theme=light&panelId=55" width="16.5%" height="85" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100636148&to=1697705436148&theme=light&panelId=53" width="18.5%" height="85" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100627324&to=1697705427324&theme=light&panelId=52" width="18.5%" height="85" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100648980&to=1697705448980&theme=light&panelId=47" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100656676&to=1697705456676&theme=light&panelId=48" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100663939&to=1697705463940&theme=light&panelId=10" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100671671&to=1697705471671&theme=light&panelId=49" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100679375&to=1697705479375&theme=light&panelId=43" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100685918&to=1697705485918&theme=light&panelId=50" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=now-14d&to=now&theme=light&panelId=18" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100699886&to=1697705499886&theme=light&panelId=2" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100708519&to=1697705508519&theme=light&panelId=41" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100816317&to=1697705616317&theme=light&panelId=42" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100827964&to=1697705627964&theme=light&panelId=45" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk2/dashboard2?orgId=1&from=1697100834437&to=1697705634437&theme=light&panelId=51" width="24.5%" height="190" frameborder="0"></iframe>
            
            </div>
            <!-- END MAIN CONTENT -->
        </div>

    </div>
    <!-- END WRAPPER -->



</body>
</html>
