<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard2</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

     
</head>
<body>

        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=56" width="24.5%" height="85" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=54" width="16.5%" height="85" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=55" width="18.5%" height="85" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=53" width="16.5%" height="85" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=52" width="16.5%" height="85" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=47" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=48" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=10" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=49" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=43" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=50" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=now-14d&to=now&theme=light&panelId=18" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=2" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=41" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=42" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=45" width="24.5%" height="190" frameborder="0"></iframe>
                <iframe src="http://localhost:3000/d-solo/4Z1opp5mk/dashboard?orgId=1&var-MyInstance=b1f700c6-69b8-4b5d-bab4-f90cba096b75&var-MyVar=pc41%3A3306&var-MyVar2=MySQL+version%3A+8.0.34+++Created+at%3A+2023-09-26+08%3A29%3A07++Started+at%3A+2023-09-26+17%3A29%3A12&from=3283939&to=3283959&theme=light&panelId=51" width="24.5%" height="190" frameborder="0"></iframe>
            
            </div>
            <!-- END MAIN CONTENT -->
        </div>

    </div>
    <!-- END WRAPPER -->



</body>
</html>
